
.ElementProduto{

width: 100%;
max-width: 900px;

.conteiner{

display: flex;
align-items: center;
padding: 1em 20px;

.boxImg{

flex: 0 0 180px;
line-height: 0;
padding: 0 10px;
overflow: hidden;

img{

width: auto;
max-width: 100%;
height: auto;

}

}

.boxText{

line-height: 1.3;
margin: 0 1em;

h2{
font-size: 2em;
}

p{
font-size: 1em;
}

}

h3{
font-size: 1.2em;
font-weight: 400;
}

}

}



@media screen and (max-width:760px) {

.ElementProduto{

.conteiner{

padding: 0.5em 20px !important;
margin: 0 -35px;

.boxImg{

flex: 0 0 80px !important;

}

.boxText{

line-height: 1.3;
margin: 0 0.5em ;

h2{
font-size: 1.5em;
}

p{
font-size: 0.8em;
}

}

h3{
font-size: 1em;
font-weight: 400;
}

}

}

}
